In [4]:
''' 구 이름이 겹치는데 어떻게 정리하지? 
Pandas의 pivot_table'''

import pandas as pd
import numpy as np

df = pd.read_excel('sales-funnel.xlsx')
df

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [5]:
''' 위 데이터에서 Name 항목으로만 정렬할 때 pivot_table을 사용합니다.
그러면 Name 컬럼이 index가 되고 특별히 지정하지 않는다면 숫자형 데이터 컬럼만 남습니다.
중복된 Name들의 항목은 하나로 합쳐주고 value는 평균값이 된다.
'''
name_pivot = pd.pivot_table(df, index = ['Name'])
''' 인덱스를 여러 개 지정할 수 있기 때문에 리스트로 되어있습니다. '''
print(name_pivot)
multi_pivot = pd.pivot_table(df, index = ['Name','Rep','Manager'])
print(multi_pivot)
''' 특정 value만 지정해서 나타나게 할 수 있습니다. '''
certain_value = pd.pivot_table(df, index = ['Manager','Rep'], values = 'Price')
certain_value # Values의 값은 평균치로 나옵니다!

                              Account   Price  Quantity
Name
Barton LLC                     740150   35000  1.000000
Fritsch, Russel and Anderson   737550   35000  1.000000
Herman LLC                     141962   65000  2.000000
Jerde-Hilpert                  412290    5000  2.000000
Kassulke, Ondricka and Metz    307599    7000  3.000000
Keeling LLC                    688981  100000  5.000000
Kiehn-Spinka                   146832   65000  2.000000
Koepp Ltd                      729833   35000  2.000000
Kulas Inc                      218895   25000  1.500000
Purdy-Kunde                    163416   30000  1.000000
Stokes LLC                     239344    7500  1.000000
Trantow-Barrows                714466   15000  1.333333
                                                          Account   Price  \
Name                         Rep           Manager
Barton LLC                   John Smith    Debra Henley    740150   35000
Fritsch, Russel and Anderson Craig Booker  Debra Henley    737550   35000
Herman LLC                   Cedric Moss   Fred Anderson   141962   65000
Jerde-Hilpert                John Smith    Debra Henley    412290    5000
Kassulke, Ondricka and Metz  Wendy Yule    Fred Anderson   307599    7000
Keeling LLC                  Wendy Yule    Fred Anderson   688981  100000
Kiehn-Spinka                 Daniel Hilton Debra Henley    146832   65000
Koepp Ltd                    Wendy Yule    Fred Anderson   729833   35000
Kulas Inc                    Daniel Hilton Debra Henley    218895   25000
Purdy-Kunde                  Cedric Moss   Fred Anderson   163416   30000
Stokes LLC                   Cedric Moss   Fred Anderson   239344    7500
Trantow-Barrows              Craig Booker  Debra Henley    714466   15000

                                                          Quantity
Name                         Rep           Manager
Barton LLC                   John Smith    Debra Henley   1.000000
Fritsch, Russel and Anderson Craig Booker  Debra Henley   1.000000
Herman LLC                   Cedric Moss   Fred Anderson  2.000000
Jerde-Hilpert                John Smith    Debra Henley   2.000000
Kassulke, Ondricka and Metz  Wendy Yule    Fred Anderson  3.000000
Keeling LLC                  Wendy Yule    Fred Anderson  5.000000
Kiehn-Spinka                 Daniel Hilton Debra Henley   2.000000
Koepp Ltd                    Wendy Yule    Fred Anderson  2.000000
Kulas Inc                    Daniel Hilton Debra Henley   1.500000
Purdy-Kunde                  Cedric Moss   Fred Anderson  1.000000
Stokes LLC                   Cedric Moss   Fred Anderson  1.000000
Trantow-Barrows              Craig Booker  Debra Henley   1.333333

                                    Price
Manager       Rep
Debra Henley  Craig Booker   20000.000000
              Daniel Hilton  38333.333333
              John Smith     20000.000000
Fred Anderson Cedric Moss    27500.000000
              Wendy Yule     44250.000000

In [7]:
''' 근데 나는 평균치 내는 거 싫고 다 더한 값이 좋다! 라고 하면 
, aggfun = np.sum '''
agg_func = pd.pivot_table(df, index = ['Manager','Rep'], values = 'Price' , aggfunc = np.sum)
agg_func

                              Price
Manager       Rep
Debra Henley  Craig Booker    80000
              Daniel Hilton  115000
              John Smith      40000
Fred Anderson Cedric Moss    110000
              Wendy Yule     177000

In [27]:
pd.pivot_table(df, index = ['Manager','Rep','Product'] , values = ['Price','Quantity'],
              aggfunc=[np.sum, np.mean])

                                            sum            mean
                                          Price Quantity  Price Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500      1.0
                            Maintenance    5000        2   5000      2.0
                            Software      10000        1  10000      1.0
              Daniel Hilton CPU          105000        4  52500      2.0
                            Software      10000        1  10000      1.0
              John Smith    CPU           35000        1  35000      1.0
                            Maintenance    5000        2   5000      2.0
Fred Anderson Cedric Moss   CPU           95000        3  47500      1.5
                            Maintenance    5000        1   5000      1.0
                            Software      10000        1  10000      1.0
              Wendy Yule    CPU          165000        7  82500      3.5
                            Maintenance    7000        3   7000      3.0
                            Monitor        5000        2   5000      2.0

In [9]:
crime_anal_raw = pd.read_csv('02. crime_in_Seoul_include_gu_name.csv', encoding = 'utf-8')
crime_anal_raw
# unnamed는 그냥 인덱스네
del crime_anal_raw['Unnamed: 0']

In [10]:
''' pivot_table을 이용해서 원 데이터를 관서별에서 구별로 바꾸면? '''
crime = pd.pivot_table(crime_anal_raw, index = ['구별'] , aggfunc = np.sum)
crime
# 평균을 내 버리면 안되고 다 합쳐야겠지?

      강간 검거  강간 발생  강도 검거  강도 발생  살인 검거  살인 발생  절도 검거  절도 발생  폭력 검거  폭력 발생
구별
강남구     349    449     18     21     10     13   1650   3850   3705   4284
강동구     123    156      8      6      3      4    789   2366   2248   2712
강북구     126    153     13     14      8      7    618   1434   2348   2649
강서구     191    262     13     13      8      7   1260   2096   2718   3207
관악구     221    320     14     12      8      9    827   2706   2642   3298
광진구     220    240     26     14      4      4   1277   3026   2180   2625
구로구     164    281     11     15      6      8    889   2335   2432   3007
금천구     122    151      6      6      4      3    888   1567   1776   2054
노원구     121    197      7      7     10     10    801   2193   2329   2723
도봉구     106    102     10      9      3      3    478   1063   1303   1487
동대문구    146    173     13     13      5      5    814   1981   2227   2548
동작구     139    285      5      9      5      5    661   1865   1587   1910
마포구     247    294     10     14      8      8    813   2555   2519   2983
서대문구    124    154      4      5      2      2    738   1812   1711   2056
서초구     249    393      6      9      6      8   1091   2635   2098   2399
성동구     119    126      8      9      4      4    597   1607   1395   1612
성북구     124    150      4      5      5      5    741   1785   1855   2209
송파구     178    220     10     13     10     11   1129   3239   2786   3295
양천구     105    120      3      6      5      3    672   1890   2030   2509
영등포구    183    295     20     22     12     14    978   2964   2961   3572
용산구     173    194     14     14      5      5    587   1557   1704   2050
은평구     141    166      6      9      3      3    711   1914   2306   2653
종로구     161    211      9     11      5      6    837   2184   1931   2293
중구      111    170      6      9      2      3    859   2548   1964   2224
중랑구     148    187      9     11     12     13    829   2135   2407   2847

In [11]:
crime['강간 검거율'] = crime['강간 검거'] / crime['강간 발생'] *100
crime['강도 검거율'] = crime['강도 검거'] / crime['강도 발생'] *100
crime['살인 검거율'] = crime['살인 검거'] / crime['살인 발생'] *100
crime['절도 검거율'] = crime['절도 검거'] / crime['절도 발생'] *100
crime['폭력 검거율'] = crime['폭력 검거'] / crime['폭력 발생'] *100

del crime['강간 검거']
del crime['강도 검거']
del crime['살인 검거']
del crime['절도 검거']
del crime['폭력 검거']

crime

,강간 발생,강도 발생,살인 발생,절도 발생,폭력 발생,강간 검거율,강도 검거율,살인 검거율,절도 검거율,폭력 검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,133.333333,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,114.285714,43.096234,88.637222
강서구,262,13,7,2096,3207,72.900763,100.000000,114.285714,60.114504,84.752105
관악구,320,12,9,2706,3298,69.062500,116.666667,88.888889,30.561715,80.109157
광진구,240,14,4,3026,2625,91.666667,185.714286,100.000000,42.200925,83.047619
구로구,281,15,8,2335,3007,58.362989,73.333333,75.000000,38.072805,80.877951
금천구,151,6,3,1567,2054,80.794702,100.000000,133.333333,56.668794,86.465433
노원구,197,7,10,2193,2723,61.421320,100.000000,100.000000,36.525308,85.530665
도봉구,102,9,3,1063,1487,103.921569,111.111111,100.000000,44.967074,87.626093
동대문구,173,13,5,1981,2548,84.393064,100.000000,100.000000,41.090358,87.401884
동작구,285,9,5,1865,1910,48.771930,55.555556,100.000000,35.442359,83.089005
마포구,294,14,8,2555,2983,84.013605,71.428571,100.000000,31.819961,84.445189
서대문구,154,5,2,1812,2056,80.519481,80.000000,100.000000,40.728477,83.219844
서초구,393,9,8,2635,2399,63.358779,66.666667,75.000000,41.404175,87.453105
성동구,126,9,4,1607,1612,94.444444,88.888889,100.000000,37.149969,86.538462
성북구,150,5,5,1785,2209,82.666667,80.000000,100.000000,41.512605,83.974649
송파구,220,13,11,3239,3295,80.909091,76.923077,90.909091,34.856437,84.552352
양천구,120,6,3,1890,2509,87.500000,50.000000,166.666667,35.555556,80.908729
영등포구,295,22,14,2964,3572,62.033898,90.909091,85.714286,32.995951,82.894737
용산구,194,14,5,1557,2050,89.175258,100.000000,100.000000,37.700706,83.121951
은평구,166,9,3,1914,2653,84.939759,66.666667,100.000000,37.147335,86.920467
종로구,211,11,6,2184,2293,76.303318,81.818182,83.333333,38.324176,84.212822
중구,170,9,3,2548,2224,65.294118,66.666667,66.666667,33.712716,88.309353
중랑구,187,11,13,2135,2847,79.144385,81.818182,92.307692,38.829040,84.545135

In [12]:
crime['강간 검거율'] = round( crime['강간 검거율'], 2) 
crime['강도 검거율'] = round( crime['강도 검거율'], 2) 
crime['살인 검거율'] = round( crime['살인 검거율'], 2)
crime['절도 검거율'] = round( crime['절도 검거율'], 2)
crime['폭력 검거율'] = round( crime['폭력 검거율'], 2)

crime.rename( columns = {
    '강간 발생' : '강간',
    '강도 발생' : '강도',
    '살인 발생' : '살인',
    '절도 발생' : '절도',
    '폭력 발생' : '폭력'
} , inplace = True)





crime

       강간  강도  살인    절도    폭력  강간 검거율  강도 검거율  살인 검거율  절도 검거율  폭력 검거율
구별
강남구   449  21  13  3850  4284   77.73   85.71   76.92   42.86   86.48
강동구   156   6   4  2366  2712   78.85  133.33   75.00   33.35   82.89
강북구   153  14   7  1434  2649   82.35   92.86  114.29   43.10   88.64
강서구   262  13   7  2096  3207   72.90  100.00  114.29   60.11   84.75
관악구   320  12   9  2706  3298   69.06  116.67   88.89   30.56   80.11
광진구   240  14   4  3026  2625   91.67  185.71  100.00   42.20   83.05
구로구   281  15   8  2335  3007   58.36   73.33   75.00   38.07   80.88
금천구   151   6   3  1567  2054   80.79  100.00  133.33   56.67   86.47
노원구   197   7  10  2193  2723   61.42  100.00  100.00   36.53   85.53
도봉구   102   9   3  1063  1487  103.92  111.11  100.00   44.97   87.63
동대문구  173  13   5  1981  2548   84.39  100.00  100.00   41.09   87.40
동작구   285   9   5  1865  1910   48.77   55.56  100.00   35.44   83.09
마포구   294  14   8  2555  2983   84.01   71.43  100.00   31.82   84.45
서대문구  154   5   2  1812  2056   80.52   80.00  100.00   40.73   83.22
서초구   393   9   8  2635  2399   63.36   66.67   75.00   41.40   87.45
성동구   126   9   4  1607  1612   94.44   88.89  100.00   37.15   86.54
성북구   150   5   5  1785  2209   82.67   80.00  100.00   41.51   83.97
송파구   220  13  11  3239  3295   80.91   76.92   90.91   34.86   84.55
양천구   120   6   3  1890  2509   87.50   50.00  166.67   35.56   80.91
영등포구  295  22  14  2964  3572   62.03   90.91   85.71   33.00   82.89
용산구   194  14   5  1557  2050   89.18  100.00  100.00   37.70   83.12
은평구   166   9   3  1914  2653   84.94   66.67  100.00   37.15   86.92
종로구   211  11   6  2184  2293   76.30   81.82   83.33   38.32   84.21
중구    170   9   3  2548  2224   65.29   66.67   66.67   33.71   88.31
중랑구   187  11  13  2135  2847   79.14   81.82   92.31   38.83   84.55

In [17]:
''' 강간은 100단위, 강도와 살인은 10단위, 절도와 폭력은 1000단위라서 비교하기가 힘들다! 
이를 변수들의 척도(Scale) 이 다르다 고 한다.
그래서 정규화 (내가 아는 그 Z가 맞다. Normalization 을 하자 )
'''

from sklearn import preprocessing

col = [
    '강간',
    '강도',
    '살인',
    '절도',
    '폭력'
]

x = crime[col].values
min_max_scaler = preprocessing.MinMaxScaler()

x_scaled = min_max_scaler.fit_transform( x.astype(float) )
''' fit_ransform할 대상을 넣는데, 숫자 타입을 float로 만든다는 거야.
요 fit_transform을 하게 되면 대상은 array로 나오는데, 그래서 밑에서
columns와 index를 crime의 걸 빌려서 다시 해주는거야.
'''
crime_norm = pd.DataFrame( x_scaled,
                         columns = col,
                         index = crime.index )

''' 여기서는 정규화 할 부분만 바꿔줬으니까, col만 해준거지 
'''

col2 = [
    '강간 검거율',
    '강도 검거율',
    '살인 검거율',
    '절도 검거율',
    '폭력 검거율'
]

crime_norm[col2] = crime[col2]
''' 그리고 여기서 정규화 안 시킨애들을 새로운 crime_norm 에다가 박아넣어준 거야 '''


crime_norm

,강간,강도,살인,절도,폭력,강간 검거율,강도 검거율,살인 검거율,절도 검거율,폭력 검거율
구별,,,,,,,,,,
강남구,1.000000,0.941176,0.916667,1.000000,1.000000,77.73,85.71,76.92,42.86,86.48
강동구,0.155620,0.058824,0.166667,0.467528,0.437969,78.85,133.33,75.00,33.35,82.89
강북구,0.146974,0.529412,0.416667,0.133118,0.415445,82.35,92.86,114.29,43.10,88.64
강서구,0.461095,0.470588,0.416667,0.370649,0.614945,72.90,100.00,114.29,60.11,84.75
관악구,0.628242,0.411765,0.583333,0.589523,0.647479,69.06,116.67,88.89,30.56,80.11
광진구,0.397695,0.529412,0.166667,0.704342,0.406864,91.67,185.71,100.00,42.20,83.05
구로구,0.515850,0.588235,0.500000,0.456405,0.543439,58.36,73.33,75.00,38.07,80.88
금천구,0.141210,0.058824,0.083333,0.180840,0.202717,80.79,100.00,133.33,56.67,86.47
노원구,0.273775,0.117647,0.666667,0.405454,0.441902,61.42,100.00,100.00,36.53,85.53
도봉구,0.000000,0.235294,0.083333,0.000000,0.000000,103.92,111.11,100.00,44.97,87.63
동대문구,0.204611,0.470588,0.250000,0.329386,0.379335,84.39,100.00,100.00,41.09,87.40
동작구,0.527378,0.235294,0.250000,0.287765,0.151233,48.77,55.56,100.00,35.44,83.09
마포구,0.553314,0.529412,0.500000,0.535343,0.534859,84.01,71.43,100.00,31.82,84.45
서대문구,0.149856,0.000000,0.000000,0.268748,0.203432,80.52,80.00,100.00,40.73,83.22
서초구,0.838617,0.235294,0.500000,0.564047,0.326064,63.36,66.67,75.00,41.40,87.45
성동구,0.069164,0.235294,0.166667,0.195192,0.044691,94.44,88.89,100.00,37.15,86.54
성북구,0.138329,0.000000,0.250000,0.259060,0.258134,82.67,80.00,100.00,41.51,83.97
송파구,0.340058,0.470588,0.750000,0.780768,0.646407,80.91,76.92,90.91,34.86,84.55
양천구,0.051873,0.058824,0.083333,0.296735,0.365391,87.50,50.00,166.67,35.56,80.91
영등포구,0.556196,1.000000,1.000000,0.682095,0.745442,62.03,90.91,85.71,33.00,82.89
용산구,0.265130,0.529412,0.250000,0.177252,0.201287,89.18,100.00,100.00,37.70,83.12
은평구,0.184438,0.235294,0.083333,0.305346,0.416875,84.94,66.67,100.00,37.15,86.92
종로구,0.314121,0.352941,0.333333,0.402225,0.288166,76.30,81.82,83.33,38.32,84.21
중구,0.195965,0.235294,0.083333,0.532831,0.263497,65.29,66.67,66.67,33.71,88.31
중랑구,0.244957,0.352941,0.916667,0.384643,0.486235,79.14,81.82,92.31,38.83,84.55

In [18]:
''' 위의 코드가 대체 무슨 소리지?
https://rfriend.tistory.com/270
"최소값(min)과 최대값(max)를 사용해서 0~1 사이의 범위(range)로 데이터를 표준화 해준다. "
'''
x = np.array([
[ 10, -10,1],
[ 5, 0,2],        
[ 0, 10,3]
])
x

array([[ 10, -10,   1],
       [  5,   0,   2],
       [  0,  10,   3]])

In [19]:
''' 1. 최소/최대값을 구해서 수동으로 '0~1' 범위로 변환 
'''
x_MinMax = (x -x.min(axis = 0)  /  x.max(axis =0) - x.min(axis = 0))
x_MinMax

array([[10.        ,  1.        , -0.33333333],
       [ 5.        , 11.        ,  0.66666667],
       [ 0.        , 21.        ,  1.66666667]])

In [23]:
''' 2. sklearn.preprocessing.MinMaxScaler() method를 이용해서 0~1 변환 
'''
min_max_scaler = preprocessing.MinMaxScaler()
x_MinMax_train = min_max_scaler.fit_transform(x)
x_MinMax_train

array([[1. , 0. , 0. ],
       [0.5, 0.5, 0.5],
       [0. , 1. , 1. ]])

In [26]:
''' 새로운 테스트 셋 '''
y = np.array([
    [9, -10 ,1],
    [5, -5  ,3],
    [1, 0, 5]
])
y_MinMax = min_max_scaler.transform(y)
y_MinMax

array([[0.9 , 0.  , 0.  ],
       [0.5 , 0.25, 1.  ],
       [0.1 , 0.5 , 2.  ]])

In [34]:
''' 그리고 CCTV 결과 csv를 붙여보겠습니다. '''
result_CCTV = pd.read_csv('../Ch1_cctv_district/01. CCTV_result.csv', index_col = '구별')
''' 요기있는 index_col = '구별' 은 result_CCTV.set_index('구별') 이랑 똑같아요!
'''
result_CCTV.head(10)

crime_norm[['인구수', 'CCTV']] = result_CCTV[['인구수', 'CCTV 개수']]
crime_norm.head(10)

,강간,강도,살인,절도,폭력,강간 검거율,강도 검거율,살인 검거율,절도 검거율,폭력 검거율,인구수,CCTV
구별,,,,,,,,,,,,
강남구,1.000000,0.941176,0.916667,1.000000,1.000000,77.73,85.71,76.92,42.86,86.48,570500.0,2780
강동구,0.155620,0.058824,0.166667,0.467528,0.437969,78.85,133.33,75.00,33.35,82.89,453233.0,773
강북구,0.146974,0.529412,0.416667,0.133118,0.415445,82.35,92.86,114.29,43.10,88.64,330192.0,748
강서구,0.461095,0.470588,0.416667,0.370649,0.614945,72.90,100.00,114.29,60.11,84.75,603772.0,884
관악구,0.628242,0.411765,0.583333,0.589523,0.647479,69.06,116.67,88.89,30.56,80.11,525515.0,1496
광진구,0.397695,0.529412,0.166667,0.704342,0.406864,91.67,185.71,100.00,42.20,83.05,372164.0,707
구로구,0.515850,0.588235,0.500000,0.456405,0.543439,58.36,73.33,75.00,38.07,80.88,447874.0,1561
금천구,0.141210,0.058824,0.083333,0.180840,0.202717,80.79,100.00,133.33,56.67,86.47,255082.0,1015
노원구,0.273775,0.117647,0.666667,0.405454,0.441902,61.42,100.00,100.00,36.53,85.53,569384.0,1265
도봉구,0.000000,0.235294,0.083333,0.000000,0.000000,103.92,111.11,100.00,44.97,87.63,348646.0,485

In [35]:
''' 이제 발생 건수의 합을 "범죄" 항목으로 두고 합하겠습니다. '''
col = ['강간',
   '강도',
   '살인',
   '절도',
   '폭력'
]
crime_norm['범죄'] = np.sum(crime_norm[col] , axis = 1)
''' 행렬이 있는데 x축(행방향) 으로 합쳐주는 것입니다.
정규화를 하지 않았다면 몇 천 건의 절동 수십 건의 살인 비중이 애매했겠지만 정규화를 통해 그 건 알아봅기 쉽게 되었습니다.'''
crime_norm.head(10)

,강간,강도,살인,절도,폭력,강간 검거율,강도 검거율,살인 검거율,절도 검거율,폭력 검거율,인구수,CCTV,범죄
구별,,,,,,,,,,,,,
강남구,1.000000,0.941176,0.916667,1.000000,1.000000,77.73,85.71,76.92,42.86,86.48,570500.0,2780,4.857843
강동구,0.155620,0.058824,0.166667,0.467528,0.437969,78.85,133.33,75.00,33.35,82.89,453233.0,773,1.286607
강북구,0.146974,0.529412,0.416667,0.133118,0.415445,82.35,92.86,114.29,43.10,88.64,330192.0,748,1.641616
강서구,0.461095,0.470588,0.416667,0.370649,0.614945,72.90,100.00,114.29,60.11,84.75,603772.0,884,2.333944
관악구,0.628242,0.411765,0.583333,0.589523,0.647479,69.06,116.67,88.89,30.56,80.11,525515.0,1496,2.860342
광진구,0.397695,0.529412,0.166667,0.704342,0.406864,91.67,185.71,100.00,42.20,83.05,372164.0,707,2.204979
구로구,0.515850,0.588235,0.500000,0.456405,0.543439,58.36,73.33,75.00,38.07,80.88,447874.0,1561,2.603930
금천구,0.141210,0.058824,0.083333,0.180840,0.202717,80.79,100.00,133.33,56.67,86.47,255082.0,1015,0.666924
노원구,0.273775,0.117647,0.666667,0.405454,0.441902,61.42,100.00,100.00,36.53,85.53,569384.0,1265,1.905445
도봉구,0.000000,0.235294,0.083333,0.000000,0.000000,103.92,111.11,100.00,44.97,87.63,348646.0,485,0.318627

In [37]:
col2 = ['강간 검거율',
   '강도 검거율',
   '살인 검거율',
   '절도 검거율',
   '폭력 검거율'
]
crime_norm['검거율'] = np.sum(crime_norm[col2] , axis =1)
crime_norm.to_csv('02. result_crime.csv', sep =',', encoding = 'utf-8')

crime_norm
''' 이걸 어떻게 시각화할까? 혹시 정렬(sort)을 사용하는 걸 생각했다면, 아쉽지만 아니다. '''